.footer {
    bottom: 0;
    background-color: #0194be;
    color: #FFF;
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.feito{
color: rgb(179, 57, 36);
font-weight: bold;
margin-top: 5px;
}

.feito2{
    color: #001f43;
}
.div {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.icon {
    width: 20px;
    justify-content: center;

}